doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
	body
		nav.navbar.navbar-inverse
			.container-fluid
				.navbar-header
					.navbar-brand Countries of the World
				ul.nav.navbar-nav
					li
						a(href="/countries") Countries
					li
						a(href="/cities") Cities
					li
						a(href="/capitals") Capitals

		script(src="./bower_components/jquery/dist/jquery.min.js")
		script(src="./bower_components/bootstrap/dist/js/bootstrap.min.js")
		script(src="bower_components/datatables.net/js/jquery.dataTables.js")
		script(src="bower_components/datatables.net-bs/js/dataTables.bootstrap.js")
		script(src="javascripts/custom.js")
		block content
